/*  리셋 */
*{margin: 0; padding: 0;}
li { list-style: none;}
a{ text-decoration: none; color: #333;}
img { width: 100%;}
em { font-style: normal;}

/* 레이아웃 */
#wrap {margin: 0 auto; width: 1000px; }


/*  헤더 */

#header {overflow: hidden;}
#header  h1{float: left; }
#header  h1 img{width: 150px;  padding: 20px;}
#header ul { float: right; }
#header ul li { float: left; margin-top: 50px;  font-size: 20px;}
#header ul li a { padding: 10px;}


/* 베너 */
#banner img{width: 100%;}

/* content1 */
#content1 {overflow: hidden; margin-top: 10px;}
#content1 .cont1 { width: 45%;margin-right: 2%; padding: 2%;  height: 110px; float: left; background: #f2f2f2 url(../images/bg1.jpg) no-repeat right 20px center;
background-size: 100px;}

#content1 .cont1 .tit { font-size: 20px; padding-bottom: 5px;}
#content1 .cont1 .desc  {color: #666;  padding-bottom: 20px; }
#content1 .cont1 .btn { background: url(../images/icon1.jpg) no-repeat; 
background-size: 15px; padding-left: 15px;}

#content1 .cont2 { width: 45%;margin-right: 0; padding: 2%;  height: 110px; float: left; background: #f2f2f2 url(../images/bg2.jpg) no-repeat right 20px center;
    background-size: 100px;}
#content1 .cont2  h2 { font-size: 20px; padding-bottom: 5px;}
#content1 .cont2  p { color: #666; padding-bottom: 20px; }
#content1 .cont2  a { background: url(../images/icon2.jpg) no-repeat; 
background-size: 15px; padding-left: 15px;}
#content1 .cont2  a em  {  font-size: 13px; color: #333; }

/* 컨테이너 */
#content2 .container {display: grid; grid-template-columns: repeat(3, 1fr); 
grid-gap: 30px;}

/* content2*/
#content2 { }
#content2 h2 { font-size: 40px; margin: 10px; }
#content2 h2  em{ font-size: 35px; font-style: normal; color: #666; }

/*  푸터 */
#footer { background: #222; overflow: hidden;}
#footer .fo {padding: 20px; }
#footer .fo img { width:150px;margin-top: 20px;}
#footer .fo h4 { color: #fff; float: right;}
#footer .fo p { color: #fff; float: right;}
/* #footer { background: #222; overflow: hidden; padding: 20px;}
#footer .fo{}
#footer .fo img { float: left; width: 150px; }
#footer .fo h4{color: #fff; float: right; padding: 20px; display: inline;}
#footer .fo p { color: #ccc; float: right; display: inline-block;} */
